<h1>Terms and Definitions</h1>

<form action="/" method="post">
  <div class="form_group">
    <label for="input_term">Term: </label>
    <input class="form-control" type="text" name="input_term" id="input_term">
  </div>
  <div class="form_group">
    <label for="input_definition">Term: </label>
    <input class="form-control" type="text" name="defintion" id="input_defintiion">
  </div>
  <button type="submit" class="btn btn-info">Submit!</button>
</form>
