<form action="/" method="post">
  <div class="form_group">
    <label for="input_term">Term: </label>
    <input class="form-control" type="text" name="input_term" id="input_term">
  </div>
  <div class="form_group">
    <label for="input_definition">Definition: </label>
    <input class="form-control" type="text" name="input_definition" id="input_definition">
  </div>
  <button type="submit" class="btn btn-info">Submit!</button>
</form>

<h2>Terms and Definitions</h2>
<% @list_of_words.each do |term|%>
  <h3><%= term.term %></h3>


<% end %>
