<form action="/output/<%= @word.id %>" method="post">
  <h1> <%= @list_of_words.term %></h1>

    <label for="input_definition">Definition: </label>
    <input class="form-control" type="text" name="input_definition" id="input_definition">
  </div>
  <button type="submit" class="btn btn-info">Submit!</button>
</form>

<h2>Term and Definitions</h2>
<% @definitions.each do |definition|%>
<ul>
  <a href="#"><%= definition.defintions %></a>
</ul>


<% end %>
